<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class="bx bx-cart bx-sm"></i>
    </div>
    <div class="nav-bar-logo">
        Logo
    </div>
    <div class="nav-bar-menu">
        <i class="bx bx-menu bx-sm"></i>
    </div>
</div>

<div class="header">
    <h4 class="collection-header">
        Gucci - CG Marmont matelasse mini bag
    </h4>
</div>
<div>
    <img class="banner" src=""/>
</div>

<div class="product-list">
    <div class="product">
        <img class="product-img" src="https://ik.imagekit.io/amirtvkli/default-image.jpg?updatedAt=1708163092805" />
    </div>
    <div class="product-price">
        $2,092
    </div>
    <div class="product-info">
        The small GG Marmount chain shoulder bag has o softly structured shape.
    </div>
</div>
<div class="buy-btn-container">
    <button class="buy-btn">
        Buy now
    </button>
</div>