
<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class="bx bx-cart bx-sm"></i>
    </div>
    <div class="nav-bar-logo">
        Logo
    </div>
    <div class="nav-bar-menu">
        <i class="bx bx-menu bx-sm"></i>
    </div>
</div>

<div class="header">
    <h2 class="collection-header">New collection for Spring 2023</h2>
</div>

<div class="btn-container">
    <h4 class="btn">Bags</h4>
    <h4 class="btn">Cosmetics</h4>
    <h4 class="btn">Dress</h4>
    <h4 class="btn">Accessories</h4>
</div>

<div class="product-list">
    <div class="product" [routerLink]="['/product/bags']">
        <img class="product-img" src="https://ik.imagekit.io/amirtvkli/default-image.jpg?updatedAt=1708163092805" />
        <h5 class="product-text">Accessories</h5>
    </div>
    <div class="product">
        <img class="product-img" src="https://ik.imagekit.io/amirtvkli/default-image.jpg?updatedAt=1708163092805" />
        <h5 class="product-text">Accessories</h5>
    </div>
    <div class="product">
        <img class="product-img" src="https://ik.imagekit.io/amirtvkli/default-image.jpg?updatedAt=1708163092805" />
        <h5 class="product-text">Accessories</h5>
    </div>
    <div class="product">
        <img class="product-img" src="https://ik.imagekit.io/amirtvkli/default-image.jpg?updatedAt=1708163092805" />
        <h5 class="product-text">Accessories</h5>
    </div>
</div>