* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    // <uniquifier>: Use a uniquifier for the class name
    // <weight>: Use a value from 300 to 700

    body {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}